body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #17ead9 0%, #6078ea 100%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.btn-group {
  text-align: center;
  width: inherit;
}

.btn-group{
  margin: 10px 10px;
}

.card-body{
  text-align: center;
}

.small{
  font-size: 100%;
}

.temp{
  margin: 10px 0px; 
}

.btn-show{
  display: flex;
  justify-content: center;
  margin: 10px 10px; 
  text-align: center;

}